*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-size: 16px;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.667);
}


.responsiveTable{
    overflow-x: auto;
    background-color: #fff;
    box-shadow: 0 0 1px rgba(60, 60, 60, 0.479);
    border-radius: 5px;
    width: 90%;
}
table{
    padding:7px;
    width: 100%;
}
th{
    text-align: justify;
    /* margin-left:5px; */
    padding:7px;
    background-color: none;
}

tr{
    margin-bottom:2px;
}
td{
    padding:7px;
    /* text-align: center; */
}
tr:nth-child(even){
    background-color: rgba(237, 237, 237, 0.899);
}